body, .cadreg, .cadred, #logosite, #searchbar, .category, #abonnement {
    font-family: Arial, Helvetica, sans-serif
}
    body {
    display: flex;
    flex-direction: row;
    background-color: black;
}
.cadreg {
    position: fixed;
    flex-direction: column;
    width: 20%;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(18, 18, 18),rgb(59, 87, 115));
}
.cadred {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    width:80%;
    min-height: 100vh;
    background-color: rgb(13, 24, 30,255);
}
#logosite {
    display: flex;
    flex-direction: column;
    height: 150px;
    background-image: url(../image/logo.png) ;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.category, #abonnement {
    display: flex;
    margin-left: 5%;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: 3px solid black;
    margin-top: 15px;
    background-color : rgba(21,27,30,255);
    border-radius: 5px;
}
.category:hover {
    background-color: #f20404;
}
.filmholder {
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 24, 30,255);
}
.films {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    padding: 1%;
    overflow: auto;
}
.film {
    display: flex;
    margin-right: 1%;
    margin-left: -0.2%;
}
#categoryholder {
    display: flex;
    flex-direction: column;
    width: 90%;
    height:fit-content;
    background-color: rgb(30, 30, 30);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 1px;
}
.categoryname, .nameofcategory, #description {
    font-size: 20px;
    color: white;
}
.nameofcategory {
    display: flex;
    margin-left: 30px;
    margin-top: 3%;
}