body, .cadreg, .cadred, #logosite, #searchbar, .category, .abonnement {
    font-family: Arial, Helvetica, sans-serif
}
    body {
    display: flex;
    flex-direction: row;
    background-color: black;
}
.cadreg {
    position: fixed;
    flex-direction: column;
    width: 20%;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(black,rgba(25, 37, 49,255));
}
.cadred {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    width:80%;
    min-height: 100vh;
    background-color: rgba(13, 24, 30,255);
}
#logosite {
    display: flex;
    flex-direction: column;
    height: 150px;
    background-image: url(../image/logo.png) ;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.category, .abonnement {
    display: flex;
    margin-left: 5%;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border: 3px solid rgba(13, 24, 30,255);
    margin-top: 15px;
    background-color :rgba(13, 24, 30,255);
    border-radius: 5px;
    color: rgba(0,168,225,255);
}
.category:hover {
    background-color: #1e1e1e;
}
.abonnement:hover {
    background-color: #1e1e1e;
}
.filmholder {
    display: flex;
    flex-direction: column;
}
.films {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(50, 50, 50);  
    padding: 1%;
    overflow: auto;
}
.film {
    display: flex;
    margin-right: 1%;
    margin-left: -0.2%;
}
#categoryholder {
    display: flex;
    flex-direction: column;
    width: 90%;
    height:fit-content;
    background-color: rgba(13, 24, 30,255);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 1px;
    color: azure;
}
#popupfilm {
    display: none;
    position:fixed;
    background: rgb(30, 30, 30);
    width: 75%;
    height: 75%;
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 1px;
}
#cadrevideo {
    position: absolute;
    top: 5%; bottom: 10px; left: 2%;
    display: flex;
    width: 70%;
    height:90%;
}
#video {
    object-fit: contain;
}
#closebutton {
    position: fixed;
    top: 12%;
    right: 4%;
}
#launchvideo {
    margin-top: 25%;
    margin-left: 47%;
    width:20%;
    height: 20%;
    position:absolute;
}
#description {
    width: 18%;
    margin-left: 81%;
    margin-top: 15%;
    color: azure;
} 